#services {
    background-color: var(--gray-100);

    .work-titles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.services-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 56px 50px 120px;
}

.service-card {
    border: 2px solid var(--gray-200);
    border-radius: 10px;
    padding: 20px;

    max-width: 280px;
    height: 155px;
    
    img {
        padding-top: 16px;
        padding-bottom: 8px;
    }

    h3 {
        font: var(--text-asap-sm);
        color: var(--gray-600);
        padding-block: 8px;
    }

    p {
        font: var(--text-maven-sm);
        color: var(--gray-500);
    }
}

